---
import LegalPage from '../../layouts/LegalPage.astro';
---

<LegalPage title="Terms of Service" description="Terms governing use of Lovelace Reviews.">
  <p>These terms govern your use of the Lovelace Reviews website, content, and membership features.</p>
  <p>Full terms will be added here.</p>
</LegalPage>
