---
import { browseGoals } from '../../data/homepage';
---

<section class="home-section section-container px-4 md:px-8" aria-labelledby="home-goals-title">
  <div class="home-section__head">
    <h2 id="home-goals-title" class="home-section__title">Browse by goal</h2>
  </div>
  <div class="home-goals__track" tabindex="0" role="region" aria-label="Browse apps by goal">
    {
      browseGoals.map((goal) => (
        <a href={goal.href} class="home-goal-btn">
          <span class="material-symbols-outlined" aria-hidden="true">{goal.icon}</span>
          {goal.label}
        </a>
      ))
    }
  </div>
</section>
